.body {
  flex: 0.8; /*so body takes 80% of the div*/
  background: linear-gradient(rgb(64, 4, 36), rgba(0, 0, 0, 1));
  height: 100vh;
  color: white;
  overflow-y: overlay;
  padding: 30px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body-info-text {
  flex: 1;
}

.body-info-text > p {
  font-size: 12px;
}

.body-info-text > strong {
  font-size: 12px;
}

.body-info-text > h2 {
  font-family: sans-serif !important;
  font-weight: 1000;
  font-size: 4.5rem;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.body-info > img {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body-songs {
  margin: 20px -30px;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.body-icons {
  display: flex;
  align-items: center;
}

.heart-green {
  color: #1ed15e;
}

.body-icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body-shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1ed15e;
}

.body-shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.album-stats {
  display: flex;
  color: lightgray;
  font-family: sans-serif;
  font-weight: light;
  font-size: 14px;
  align-items: center;
}
.album-stats * {
  margin-right: 10px;
}

.album-stats > a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.album-stats > a:hover {
  text-decoration: underline;
}
