.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  width: 97%;
  justify-content: space-between;
}

.footer-left {
  flex: 0.3;
  min-width: 50px;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footer-green {
  color: #1ed15e;
}

.footer-album-logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer-songinfo > h4 {
  margin-bottom: 5px;
}

.footer-songinfo > p {
  font-size: 12px;
}

.footer-icon:hover,
.footer-green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer-right * .MuiSlider-root {
  color: green;
}

.footer-center {
  padding: 0 100px;
  flex: 0.4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer-right {
  display: flex;
  flex: 0.3;
  justify-content: space-between;
  align-items: center;
  color: white;
}
