@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
.login {
  display: grid; /*creates a grid and centers everything*/
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
  max-width: 300px;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.login-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.login-footer > h1,
p {
  font-size: 12px;
  text-align: center;
  color: darkgray;
  line-height: 1.6;
}

.login-footer > p {
  font-family: "Mr Dafoe";
  font-size: 14px;
  font-weight: lighter;
  color: white;
}
