.song-row > img {
  height: 40px;
  width: 40px;
}

.song-row {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.song-row:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.song-row-info {
  margin-left: 20px;
}

.song-row-info > h1 {
  font-size: 16px;
}

.song-row-info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}
